/*
 * {{description}}
 *
 * Copyright (C) {{year}} {{author}}
 *
{{license}}
 */

#include "{{filename}}.h"

/**
 * SECTION:{{filename}}
 * @short_description:
 * @title: {{class_camel}}
 *
 * Insert documentation here.
 */
G_DEFINE_INTERFACE({{iface_camel}}, {{iface_lower}}, {{ns_upper}}_TYPE_{{iface_upper}})
